body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to right, rgb(251, 255, 0),rgb(255, 0, 0)) ;
    height: 100%;
}
.componenetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 350px;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
input{
    height: 30px;
    width: 230px;
    font-size: 17px;
}
button{
    background-color: black;
    height: 30px;
    width: 130px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}